<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>results</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!-- <script src="main.js"></script> -->
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><%= title%></h1>
        <p class="lead">
          Tip amount is <%= tip %>
        </p>
        <p class="lead">
          Total bill with tip is $<%= total %>
        </p>
        <button>test</button>
      </div>
    </div>
  </div>
  <div>
    <h2></h2>
    <h2></h2>
  </div>
</body>

</html>